{% extends "base.html" %}

{% block content %}
<div class="hero-section text-center">
    <h1 class="display-4 fw-bold">Welcome to EasyBook</h1>
    <p class="lead">Book your movie tickets quickly and easily</p>
    <a href="{{ url_for('movies') }}" class="btn btn-primary btn-lg">Browse Movies</a>
    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>
</div>

<h2 class="mb-4 h2-hero">Featured Movies</h2>
<div class="text-center mt-4">
    <a href="{{ url_for('movies') }}" class="btn btn-outline-primary viewbtn">View All Movies</a>
</div>
<div class="row">
    {% for movie in movies %}
    <div class="col-md-3 mb-4">
        <div class="card movie-card h-100">
            <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.genre }}</p>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="btn btn-sm btn-primary">View Showtimes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<style>

    .viewbtn {
        text-align: right !important;
        color: white !important;
        border: 2px solid white;
        position: absolute !important;
        right: 50px !important;
        top: 470px !important;
    }
</style>


{% endblock %}